.main-sidebar .el-submenu__title,
.el-menu li {
  font-size: 12px;
  color: #16a085;
}

/* .main-sidebar .el-menu-style,

.el-menu-style .el-menu {
  background-color: #2c3e50;
} */

.el-menu-style .el-menu-item:hover,
.el-menu-style .el-submenu__title:hover {
  background-color: #f0f7ff !important;
}

.el-menu-style .el-menu-item:hover {
  background-color: #f0f7ff !important;
}

.el-menu-style .is-active {
  background-color: #2c3e50 !important;
}

.content-view .el-button {
  display: inline-block;
  padding: 9px 20px;
}

.content-view .el-input {
  width: 230px;
}
.table .el-input{
  width:120px;
}
.content-view .el-input__inner {
  height: 30px;
}

.panpel-body .el-tree {
  font-size: 12px;
}

.main-sidebar .el-menu-style,
.el-menu-style .el-menu {
  background-color: #2c3e50;
  color: #fff;
}

.content .el-menu {
  border-right: 0 solid #ccc;
}
.el-tree{
  border:1px solid #ccc;
}

/*
    order.vue 样式 
    by leecu
*/
.service-item .right .el-input{
    width: auto !important;
}